<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>room</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>insertroom</display-name>
    <servlet-name>insertroom</servlet-name>
    <servlet-class>servlet.insertroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertroom</servlet-name>
    <url-pattern>/insertroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getroom</display-name>
    <servlet-name>Getroom</servlet-name>
    <servlet-class>servlet.Getroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getroom</servlet-name>
    <url-pattern>/Getroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteroom</display-name>
    <servlet-name>deleteroom</servlet-name>
    <servlet-class>servlet.deleteroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteroom</servlet-name>
    <url-pattern>/deleteroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateroom</display-name>
    <servlet-name>updateroom</servlet-name>
    <servlet-class>servlet.updateroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateroom</servlet-name>
    <url-pattern>/updateroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateroom2</display-name>
    <servlet-name>updateroom2</servlet-name>
    <servlet-class>servlet.updateroom2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateroom2</servlet-name>
    <url-pattern>/updateroom2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteuser</display-name>
    <servlet-name>deleteuser</servlet-name>
    <servlet-class>servlet.deleteuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteuser</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateuser</display-name>
    <servlet-name>updateuser</servlet-name>
    <servlet-class>servlet.updateuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateuser</servlet-name>
    <url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getuser</display-name>
    <servlet-name>Getuser</servlet-name>
    <servlet-class>servlet.Getuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getuser</servlet-name>
    <url-pattern>/Getuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertuser</display-name>
    <servlet-name>insertuser</servlet-name>
    <servlet-class>servlet.insertuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertuser</servlet-name>
    <url-pattern>/insertuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateuser2</display-name>
    <servlet-name>updateuser2</servlet-name>
    <servlet-class>servlet.updateuser2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateuser2</servlet-name>
    <url-pattern>/updateuser2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findroom</display-name>
    <servlet-name>findroom</servlet-name>
    <servlet-class>servlet.findroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findroom</servlet-name>
    <url-pattern>/findroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertdiscount</display-name>
    <servlet-name>insertdiscount</servlet-name>
    <servlet-class>servlet.insertdiscount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertdiscount</servlet-name>
    <url-pattern>/insertdiscount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletediscount</display-name>
    <servlet-name>deletediscount</servlet-name>
    <servlet-class>servlet.deletediscount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletediscount</servlet-name>
    <url-pattern>/deletediscount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatediscount</display-name>
    <servlet-name>updatediscount</servlet-name>
    <servlet-class>servlet.updatediscount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatediscount</servlet-name>
    <url-pattern>/updatediscount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getdiscount</display-name>
    <servlet-name>Getdiscount</servlet-name>
    <servlet-class>servlet.Getdiscount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getdiscount</servlet-name>
    <url-pattern>/Getdiscount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatediscount2</display-name>
    <servlet-name>updatediscount2</servlet-name>
    <servlet-class>servlet.updatediscount2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatediscount2</servlet-name>
    <url-pattern>/updatediscount2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Handsel_do</display-name>
    <servlet-name>Delete_Handsel_do</servlet-name>
    <servlet-class>a.Delete_Handsel_do</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Handsel_do</servlet-name>
    <url-pattern>/Delete_Handsel_do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flushCL</display-name>
    <servlet-name>flushCL</servlet-name>
    <servlet-class>servlet.flushCL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flushCL</servlet-name>
    <url-pattern>/flushCL</url-pattern>
  </servlet-mapping>
</web-app>